.HomeMain{
    padding: 90px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: var(--Blue-400);
    color: var(--Gray-400);
}

.AulaIcon{
    /* margin-bottom: 42px; */
    margin: 12px 0 12px 0;
}